@charset "UTF-8";
* {
    margin: 0; /* Margem externa*/
    padding: 0; /* Margem interna */
    box-sizing: border-box; /* Modifica o tamanho dos elementos dentro da "caixa" */
}

body {
    font-family: "Segoe UI"; /* Fonte da tela */
    color: var(--text-dark);
    height: 100%;
    display: flex; /* Utilizado para facilitar o alinhamento dos elementos */
    height: 100%;
    background:linear-gradient(135deg, #fdfdfd, #f7f7f7, #f5e6e0, #b87c2d);
    justify-content: center; /* Centraliza o container */
    align-items: center; /* Centraliza o container */
}

form{
    background-color: white;
    padding: 50px;
    border: 1px solid #e0c097;
    border-radius: 30px; /* Ajusta a curvatura da borda */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {

    color: #b48a60;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

button{

    background-color: #b48a60; /* Cor dourada */
    color: #ffffff; /* Texto branco */
    border: none; /* Sem borda */
    padding: 12px; /* Espaçamento interno */
    width: 100%; /* Ocupa toda a largura */
    border-radius: 8px; /* Bordas arredondadas */
    font-size: 15px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de clique */
    transition: background 0.3s ease; /* Transição suave ao passar o mouse */
    font-family: 'Quicksand', sans-serif;

}

input{
    padding: 5px 5px;
    border-radius: 5px;
    background-color: #f9f9f9; /* Fundo claro */
    border: 1px solid #dddddd;
}

a {
  color: #b48a60; /* Link em dourado */
  text-decoration: none; /* Remove sublinhado */
  font-family: 'Quicksand', sans-serif;
}

.barraHorizontal {
    
    background-color: #b48a60;
    height: 5px;
    width: 100%;
}

.campoInput{

    display: flex;
    flex-direction: column; /* Ajusta as posições em colunas*/
    gap: 10px; /* Distância dos elementos*/
    height: "auto";
    word-wrap: break-word;

    margin-top: 10px; /* Espaço acima do texto */
    font-size: 12px; /* Fonte menor */
    color: #4b4949e5;
}

.exibirSenha{
    display: flex;
    gap: 5px;
    color:#4b4949e5 ;
}

.lembrarUsuario{
    display: flex;
    gap: 5px;
}