@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #504f4f63;
}
#leitor {
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
#resultado { 
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    vertical-align:auto;
    color: #000000;
}
form{
    background-color: white;
    padding: 50px;
    border-radius: 30px; /* Ajusta a curvatura da borda */
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {

    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 24px;
}

button{
    padding: 10px;
    align-self: center;
    width: 210px;
    border-radius: 50px;

    /* Cor do botão */
    background-image: linear-gradient(#0407aa);
    border: solid 1px #0407aa;

    /* Fonte do botão */
    font-family: "Segoe UI";
    font-weight: 700;
    color: white;

}

input{
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
    background-color: rgba(80, 79, 79, 0.389);
}

.barraHorizontal {
    background-color: #0407aa;
    height: 5px;
    width: 235px;
}

.campoInput{

    display: flex;
    flex-direction: column; /* Ajusta as posições em colunas*/
    gap: 10px; /* Distância dos elementos*/
    height: "auto";
    word-wrap: break-word;
}

.exibirSenha{
    display: flex;
    gap: 5px;
}

.lembrarUsuario{
    display: flex;
    gap: 5px;
}