* {
    margin: 0; /* Margem externa*/
    padding: 0; /* Margem interna */
    box-sizing: border-box; /* Modifica o tamanho dos elementos dentro da "caixa" */
}

body {
    font-family: "Segoe UI"; /* Fonte da tela */
    color: var(--text-dark);
    display: flex; /* Utilizado para facilitar o alinhamento dos elementos */
    height: 100vh;
    background-color: #504f4f63;
    justify-content: center; /* Centraliza o container */
    align-items: center; /* Centraliza o container */
}

form{
    background-color: white;
    padding: 50px;
    border-radius: 30px; /* Ajusta a curvatura da borda */

    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {

    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 24px;
}

button{
    padding: 10px;
    align-self: center;
    width: 210px;
    border-radius: 50px;

    /* Cor do botão */
    background-image: linear-gradient(#0407aa);
    border: solid 1px #0407aa;

    /* Fonte do botão */
    font-family: "Segoe UI";
    font-weight: 700;
    color: white;

}

input{
    padding: 5px 5px;
    border-radius: 5px;
    border: none;
    background-color: rgba(80, 79, 79, 0.389);
}

.barraHorizontal {
    background-color: #0407aa;
    height: 5px;
    width: 235px;
}

.campoInput{

    display: flex;
    flex-direction: column; /* Ajusta as posições em colunas*/
    gap: 10px; /* Distância dos elementos*/

}

.exibirSenha{
    display: flex;
    gap: 5px;
}

.lembrarUsuario{
    display: flex;
    gap: 5px;
}