@charset "UTF-8";

/* ===== RESET BÁSICO ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */
body {
    font-family: Arial, sans-serif;
    background-color: #504f4f63;
    background:linear-gradient(135deg, #fdfdfd, #f7f7f7, #f5e6e0, #b87c2d);

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ===== SCANNER ===== */
#scanner {
    background-color: white;
    padding: 50px;
    border-radius: 30px;
    border: 1px solid #e0c097;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Container da câmera */
#leitor {
    width: 500px;
    background: white;
    padding: 20px;
    border-radius: 8px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Texto de status */
#resultado {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #000;
}

/* ===== FORMULÁRIO (OCULTO NO INÍCIO) ===== */
#formulario {
    display: none;

    background-color: white;
    padding: 50px;
    border-radius: 30px;

    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* ===== TÍTULO ===== */
h1 {
    width: 100%;
    font-size: 24px;
    text-align: left;
}

/* ===== BARRA ===== */
.barraHorizontal {
    width: 100%;
    height: 5px;
    background-color: #b48a60;
    border-radius: 5px;
}

/* ===== CAMPOS ===== */
.campoInput {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* ===== TEXTO ===== */
.info {
    font-weight: bold;
}

/* ===== BOTÕES ===== */
button {
    
    margin-top: 15px;
    background-color: #b48a60; /* Cor dourada */
    color: #ffffff; /* Texto branco */
    border: none; /* Sem borda */
    padding: 12px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    font-size: 15px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor de clique */
    transition: background 0.3s ease; /* Transição suave ao passar o mouse */
    font-family: 'Quicksand', sans-serif;

}

button:hover {
    opacity: 0.9;
}

/* ===== RESPONSIVO ===== */
@media (max-width: 600px) {
    #leitor {
        width: 100%;
    }

    #scanner,
    #formulario {
        padding: 30px;
        width: 90%;
    }
}
